@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 5%;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 100;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
}

.navbar a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-weight: 400px;
  margin-left: 30px;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  opacity: 0;
  transition: 0.5s ease;
}

.slide.active img {
  opacity: 1;
}

.slide .lefti {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  transform: translate(-100%);
  transition: 0s;
}

.slide.active .lefti {
  transform: translateX(0);
  z-index: 1;
  transition: 0.5s ease;
}

.lefti .blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.blur h1 {
  font-size: 250px;
  color: #28282b;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.lefti .content {
  position: absolute;
  bottom: 10%;
  left: 10%;
  color: white;
}

.content h3 {
  font-size: 20px;
}

.content p {
  font-size: 16px;
  margin: 10px 0 15px;
}

.content .btn {
  display: inline-block;
  padding: 15px 15px;
  background: white;
  border: 2px solid white;
  border-radius: 6px;
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: 0.5s;
}

.content .btn:hover {
  background: transparent;
  color: white;
}

.slide .righti {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(100%);
  transition: 0s;
}

.slide.active .righti {
  transform: translateX(0);
  z-index: 1;
  transition: 0.5s ease;
}

.righti h1 {
  font-size: 250px;
  color: #28282b;
  margin-left: 15px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.navi {
  position: absolute;
  bottom: 5%;
  right: 5%;
  z-index: 100;
}

.navi span {
  display: inline-flex;
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin-left: 25px;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.navi span:nth-child(1) {
  background: transparent;
}
.navi span:nth-child(2) {
  background: transparent;
}

.navi span:nth-child(1):hover {
  background: white;
}
.navi span:nth-child(2):hover {
  background: white;
}

.navi span i {
  font-size: 20px;
  color: black;
  transition: 0.5s;
}

.navi span:nth-child(1) {
  color: white;
}
.navi span:nth-child(2) {
  color: white;
}

.navi span:nth-child(1):hover i {
  color: black;
}

.navi span:nth-child(2):hover i {
  color: black;
}

footer {
  background-color: #213555;
}

.fcontainer {
  width: 100%;
  padding: 50px 30px 20px;
}
.mediaicon {
  display: flex;
  justify-content: center;
}

.mediaicon a {
  text-decoration: none;
  padding: 10px;
  margin: 15px;
  background-color: #fff;
}

.mediaicon a i {
  font-size: 2em;
  color: black;
  opacity: 0.9;
}

.mediaicon a:hover {
  background-color: #111;
  transition: 0.5s;
}

.mediaicon a:hover i {
  color: #fff;
  transition: 0.5s;
}

.lastFooter {
  background-color: black;
  text-align: center;
  padding: 20px;
}

.lastFooter p {
  color: #fff;
  font-family: 'Hind Siliguri', sans-serif;
}

@media (max-width: 700px) {
  .blur h1 {
    font-size: 100px;
  }

  .righti h1 {
    font-size: 100px;
  }

  .content h3 {
    font-size: 12.5px;
  }

  .content p {
    font-size: 12.5px;
  }

  .content .btn {
    size: 10px;
  }
}
